<h4>Que veux-tu afficher dans ton CV ?</h4>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="visibilites.description"> Une description de moi.
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="visibilites.formations"> Mes formations.
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="visibilites.experiencesProfessionnelles"> Mes expériences professionnelles.
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="visibilites.domainesCompetences"> Mes competences.
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="visibilites.centresInteret"> Mes centres d'intêret.
	</label>
</div>
