<div class="form-group" data-ng-repeat="formation in cv.formations">
    <h4>Formation n°{{$index}} : </h4>
    <label for="dateDebut{{$index}}" class="control-label">Date debut </label>
    <input type="text" class="form-control" id="dateDebut{{$index}}" ng-model="formation.dateDebut">
    <label for="dateFin{{$index}}" class="control-label">Date fin </label>
    <input type="text" class="form-control" id="dateFin{{$index}}" ng-model="formation.dateFin">
    <label for="diplome{{$index}}" class="control-label">Diplome </label>
    <input type="text" class="form-control" id="diplome{{$index}}" ng-model="formation.diplome">
    <label for="specification{{$index}}" class="control-label">Spécification </label>
    <input type="text" class="form-control" id="specification{{$index}}" ng-model="formation.specification">
    <label for="ecole{{$index}}" class="control-label">Ecole </label>
    <input type="text" class="form-control" id="ecole{{$index}}" ng-model="formation.ecole">
    <label for="ville{{$index}}" class="control-label">Ville </label>
    <input type="text" class="form-control" id="ville{{$index}}" ng-model="formation.ville">
    <label for="pays{{$index}}" class="control-label">Pays </label>
    <input type="text" class="form-control" id="pays{{$index}}" ng-model="cv.pays">
</div>
<div class="form-group">
    <button class="btn btn-success btn-sm" ng-click="ajouterFormation()"><span class="glyphicon glyphicon-plus"></span></button>
    <button class="btn btn-danger btn-sm" ng-click="supprimerFormation()"><span class="glyphicon glyphicon-minus"></button>
</div>