<h4>Identité : </h4>
<div class="form-group">
    <label for="nom" class="control-label">Nom : </label>
    <input type="text" class="form-control" id="nom" ng-model="cv.nom">

    <label for="prenom" class="control-label">Prenom : </label>
    <input type="text" class="form-control" id="prenom" ng-model="cv.prenom">

    <label for="dateNaissance" class="control-label">Date de naissance : </label>
    <input type="text" class="form-control" id="dateNaissance" ng-model="cv.dateNaissance">

    <label for="age" class="control-label">Age : </label>
    <input type="text" class="form-control" id="age" ng-model="cv.age">

    <label for="urlPhoto" class="control-label">URL Photo : </label>
    <input type="text" class="form-control" id="urlPhoto" ng-model="cv.urlPhoto">

    <label for="status" class="control-label">Status : </label>
    <input type="text" class="form-control" id="status" ng-model="cv.status">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="cv.permis"> J'ai le permis.
        </label>
    </div>
</div>
<h4>Habitation : </h4>
<div class="form-group">
    <label for="adresse" class="control-label">Adresse : </label>
    <input type="text" class="form-control" id="adresse" ng-model="cv.adresse">

    <label for="ville" class="control-label">Ville : </label>
    <input type="text" class="form-control" id="ville" ng-model="cv.ville">

    <label for="codePostal" class="control-label">Code postal : </label>
    <input type="text" class="form-control" id="codePostal" ng-model="cv.codePostal">

    <label for="pays" class="control-label">Pays : </label>
    <input type="text" class="form-control" id="pays" ng-model="cv.pays">
</div>
<h4>Contact : </h4>
<div class="form-group">
    <label for="telephone" class="control-label">Telephone : </label>
    <input type="text" class="form-control" id="telephone" ng-model="cv.telephone">

    <label for="mail" class="control-label">Mail : </label>
    <input type="text" class="form-control" id="mail" ng-model="cv.mail">

    <label for="object" class="control-label">Object du cv : </label>
    <input type="text" class="form-control" id="object" ng-model="cv.object">
</div>