#editerCurriculumVitae {
	color: white;
}

#editerCurriculumVitae h4 {
	color: #ffb632;
}

#editerCurriculumVitae label {
	color: #ff782e;
}

#editerCurriculumVitae legend {
	background-color: #fff;
	color: #444;
	font-family: "Times New Roman";
	font-style: normal;
	font-size: 2.5em;
	font-weight: 800;
	letter-spacing: 0;
	line-height: 1.3em;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	word-spacing: 0em;
	width: 96%;
	margin-right: 2%;
	margin-left: auto;
	border-style: ridge;
	border-width: 15px;
}

#editerCurriculumVitae .panel-default {
	border-size: 0px;
	border-width: 0px;
	border-top-width: 5px;
}

#editerCurriculumVitae .panel-heading {
	color: white;
	border-width: 0px;
	border-radius: 0px;
	color: #fd4338;
}

#editerCurriculumVitae .panel-body {
	margin-top: 0px;
	padding-top: 0px;
}

#editerCurriculumVitae .panel-title {
	font-size: 20px;
}

#pannel-options .panel-heading {
	color: #AE9C00;
}

#pannel-options button {
	width: 100%;
}

textarea {
 	resize: none;
 	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

.alert {
	margin: 0 20px;
}